
<li id="Entry-<%= entry.id %>">
  <%= link_to gravatar_for(entry.user, size: 50), entry.user %>

  <span class="title"><%= entry.title %></span>

  <span class="user"><%= link_to entry.user.name, entry.user if !current_user?(entry.user)
    %></span>

  <span class="body"><%= entry.body %>
  <%= image_tag entry.picture.url if entry.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(entry.created_at) %> ago.
    <% if current_user?(entry.user) %>
      <%= link_to "delete", entry, method: :delete,
          data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <div class="stats">
  <a href="<%= if (entry.likes.count!=0) then like_entry_path(entry) end %>">
    <strong id="like" class="stat">
      <%= entry.likes.count %> like
    </strong>
    
  </a>
  
</div>
<% if current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.liked?(entry) %>
    <%= form_for(current_user.likes.find_by(entry_id: entry.id),
             html: { method: :delete }) do |f| %>
             <div><%= hidden_field_tag :entry_id, entry.id %></div>
  <%= f.submit "Unlike", class: "btn" %>
    
<% end %>
  <% else %>
    <%= form_for(current_user.likes.build) do |f| %>
  <div><%= hidden_field_tag :entry_id, entry.id %></div>
  <%= f.submit "Like", class: "btn btn-primary" %>
<% end %>
  <% end %>
  </div>
<% end %>
  <% if (entry.user.following?(current_user) or current_user?(entry.user))%>
  <div>
    <%= form_for Comment.new do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  <%= f.hidden_field :entry_id,:Value => entry.id%>
    <%= f.text_field :content, placeholder: "Compose new comment..." %>
  </div>
  <%= f.submit "Post comment", class: "btn btn-primary" %>
<% end %>
  </div>
  <div >
        <% if entry.comments.any? %>
      Comment (<%= entry.comments.count %>)
      <ol class="entries">
        <%= render entry.comments %>

      </ol>
    <% end %>
    </div>
    <% end %>
</li>

