<% provide(:title, 'Sign up') %>
<body style="background-image: url(http://bestwallpaperhd.com/wp-content/uploads/2014/06/Cute-Animal.jpg);background-size: 100%;background-attachment: fixed;background-repeat: no-repeat;">
<header style="font-size: 18px">
  <div class="container">
    <%= link_to "Cocacola" , root_path, id: "logo2" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      
        

          <li><%= link_to "Log in", login_path %></li>
           <li><%= link_to "Sign up", signup_path %></li>
     
      </ul>
    </nav>
  </div>
</header>  
<h1 class="col-md-offset-7">Join us</h1>

<div class="row">
  <div class="col-md-3 col-md-offset-8">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.submit "Create my account", class: "btn btn-primary" %> 
    <% end %>
  </div>
</div>
</body>