<% provide(:title, @user.name) %>
<body style="background-image: url(http://elephantnosepetcenter.com/var/m_0/04/04d/22705/217256-background.jpg);background-size: 100%;background-attachment: fixed;background-repeat: no-repeat;">
  <div class="user_show" style="padding-top: 40px">
    <div class="row">
  <aside class="col-md-8 col-md-offset-2">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
     <section style="padding-top:20px;padding-left:0px;">
      <%= render 'follow_form' if logged_in? %>
      </section>
  </aside>
  </div>
  <div class="row">
  <div class="col-md-8 col-md-offset-2">
  
    <% if @user.entries.any? %>
      <h3>Entries (<%= @user.entries.count %>)</h3>
      <ol class="entries">
        <%= render @entries %>
      </ol>
      <%= will_paginate @entries %>
    <% end %>
  </div>
</div>
  </div>

</body>
